tensorflow==2.12.0
absl-py==1.4.0
aniso8601==9.0.1
asgiref==3.7.2
astunparse==1.6.3
black==24.3.0
blinker==1.6.2
blis==0.7.10
cachetools==5.3.1
catalogue==2.0.9
certifi==2023.7.22
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.6
confection==0.1.0
coverage==7.2.5
cryptography==42.0.4
cycler==0.11.0
cymem==2.0.7
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==1.3.0
dj-rest-auth==3.0.0
Django==5.1a1
django-allauth==0.54.0
django-cabinet==0.13.0
django-cors-headers==3.14.0
django-imagefield==0.16.1
django-storages==1.13.2
django-tree-queries==0.15.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
factory-boy==3.2.1
Faker==18.11.2
filelock==3.12.2
Flask==2.3.2
Flask-RESTful==0.3.9
flatbuffers==23.5.26
fonttools==4.43.0
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.6.0/fr_core_news_sm-3.6.0-py3-none-any.whl#sha256=88ba4254539a7efb51d5e0c5b6c4ea5b350542752b634088274c1b97d8c8b8ee
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googlemaps==4.6.0
grpcio==1.56.2
gunicorn==20.0.4
h5py==3.9.0
identify==2.5.24
idna==3.7
isort==5.12.0
itsdangerous==2.1.2
jax==0.4.13
Jinja2==3.1.3
joblib==1.3.1
jsonify==0.5
keras==2.12.0
kiwisolver==1.4.4
langcodes==3.3.0
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.5.2
ml-dtypes==0.2.0
murmurhash==1.0.9
mypy-extensions==1.0.0
nltk==3.7
nodeenv==1.8.0
numpy==1.22.0

oauthlib==3.2.2
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==23.1
pandas==1.4.0
pathspec==0.11.1
pathy==0.10.2
Pillow==10.0.1
platformdirs==3.8.0
pre-commit==3.3.2
preshed==3.0.8
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.12
PyJWT==2.7.0
pyparsing==3.1.0
pyspellchecker==0.6.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
ruff==0.0.267
scikit-learn==1.2.2
scipy==1.10.0-rc1
seaborn==0.11.2
six==1.16.0
smart-open==6.3.0
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.4
srsly==2.4.7
stopwords==1.0.0
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow-estimator==2.12.0
tensorflow-intel
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
textblob==0.17.1
textblob-fr==0.2.0
thinc==8.1.10
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.65.0
typer==0.9.0
typing_extensions==4.7.0
tzdata==2023.3
Unidecode==1.3.6
uritemplate==4.1.1
urllib3<2.0
virtualenv==20.23.1
wasabi==1.1.2
Werkzeug==3.0.1
wrapt==1.14.1
xgboost==1.7.5
xlrd==2.0.1
xlwt==1.3.0
psycopg2
GitPython==3.1.43
pre-commit==3.3.2
